.nav2 {
    background-color: #232F3E; 
    text-decoration: none;
    color: white; 
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

.nav2ul { 
    list-style-type: none;
    float: none;
}

.nav-link {
    color: white;
    
}

.nav-link:hover {
    color: white;
}

.nav2ul .nav-item {
    padding: 0; 
    margin: 5px;
    line-height: 1;
}

.nav2 .nav-item {
    border: 1px solid #232F3E;
}

.nav2 .nav-item:hover {
    border: 1px solid rgb(230, 230, 230);
}